@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
/* CSS reset */
* {
    margin: 0;
    padding: 0;
    font-family: 'Playball', cursive;
}
html{
    scroll-behavior: smooth;
}

/* navigation bar */
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

/* navbar logo */
#logo {
    padding: 25px;
    margin: 0 25px;
}

#logo img {
    width: 150px;
}

/* navbar menu */
#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
}

#navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 20px;
    font-size: 1.3rem;
    margin: 0 20px;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

/* Home section */
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px 15px;
    height: 400px;
}

#home::before {
    content: "";
    background: url("../images/bg1.jpg") no-repeat center center/cover;
    height: 500px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.89;
}

#home h1 {
    color: white;
}

#home p {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding: 5px;
}
.btn{
    padding: 5px 20px;
    margin: 20px;
    color: white;
    background-color: blue;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

#home .btn:hover{
    background-color: black;
    color: white;
}
/* services */
#services{
    display: flex;
}
.box img{
    width: 200px;
display: block;
margin: auto;
}
.box{
    display: flex;
flex-direction: column;
border: 2px solid brown;
padding: 20px;
margin: 10px;
border-radius: 25px;
background-color: #d5d5d5;
}

/* client section  */

#clients{
    display: flex;
    justify-content: center;
    height: 250px;
    align-items: center;
    position: relative;
}
#clients::before{
    content: "";
    background: url("../images/bg2.jpg") no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}
.client-item{
    padding: 20px;
}
.client-item img{
    width: 100px;
}

/* contact section  */
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 500px;
}
#contact-box::before{
    content: "";
    background: url("../images/contact.jpg") no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}
#contact-box label{
    font-size: 1.3rem;
}
#contact-box form{
    width: 50vw;
}
.form-group{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.form-group input, .form-group textarea{
    font-size: 1.3rem;
    padding: 5px 20px;
    border-radius: 10px;
}

footer{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 1.5rem;
}
